<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Estudiante</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; padding: 16px;">
    <ion-card style="width: 100%; max-width: 400px; text-align: center;">
      <ion-card-header>
        <ion-card-title>Bienvenido Estudiante!</ion-card-title>
        <ion-card-subtitle>Tu correo es: {{ nombre }}</ion-card-subtitle> <!-- Muestra el correo aquí -->
        <ion-card-subtitle>Selecciona tu asignatura para estar presente</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <!-- Tarjeta de la asignatura Programación Aplicaciones Móviles -->
          <ion-card button (click)="navegaEscanearQr()" style="margin-top: 20px;">
            <ion-card-header>
              <ion-card-title>Programación Aplicaciones Móviles</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
