<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Bienvenido Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="margin: 20px;">
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">Estudiante</ion-card-subtitle>
      <ion-card-title style="text-align: center;">Bienvenido, {{ nombre }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let curso of cursos" (click)="showEscanearQrAlert(curso)">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ curso.nombre }}</h2>
        <p>Sección: {{ curso.seccion }}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" color="primary">
        Escanear QR
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
