<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>homeProfesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">homeProfesor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido Profesor</ion-card-title>
      <ion-card-subtitle>Sleccione su ramo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card button>
    <ion-card-header>
      <ion-card-title>Desarrollo Móvil</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
